.NotiData {
    margin-top: 150px;
}
.Noti-title {
    font-size: 25px;
    font-weight: 700;
    margin-right: 10px;
}
.Noti-alldetails {
    font-size: 15px;
    margin-left: 5px;
}
@media only  screen and (max-width: 1375px) {
    .notification {
        display: none;
    }
}