.noti {
  &_title {
    font-size: 25px;
    font-weight: 700;
    margin-right: 10px;
  }
  
  &_all {
    font-size: 15px;
    margin-left: 5px;
  }
}


@media only  screen and (max-width: 890px) {
  .noti {
      display: none;
  }
}