.newsHeader {
    top: 0px !important;
    font-size: 2.3em !important;
    font-weight: bold !important;
    padding-bottom: 1em !important;
    color: #0061AD !important;
    line-height: 1.2em !important;
    text-align: center !important;
}

.newsInfo {
    color: #0061AD !important;
    float: right !important;
    font-style: italic;
}

.newsContent {
    margin: 30PX;
    padding: 10px !important;
    padding-top: 30px !important;
    color: #121111;
}