.post-container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding:20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.socail-post-row a{
    text-decoration: none;
    color: #626262 !important;
}
.user-profile p,small{
   margin-bottom: -5px;
    padding-left: 5px;
    color: #626262;
}
.user-profile small{
   font-size: 12px;
 }
.input-container {
     padding-left: 70px;
     padding-top: 10px;
 }
 .user-profile .postmodal {
    width: 100%;
    border-radius: 15px;
    margin-left: 20px;
    background-color: #EFF2F5;
    height: 40px;
 }
 .user-profile .postmodal:hover {
    background-color: #c2c2c2;
 }
 .user-profile .postmodal p{
    padding-top: 8px;
    padding-bottom: 5px;
 }
 .add-post-links {
     display: flex;
     margin-top: 10px;
 }
 .add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right:50px;
    font-size: 13px;
}
.add-post-links .post-links-icon{
   width: 20px;
   font-size: 20px;
   margin-right: 10px;
}
.socail-post-container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding:20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span {
    font-size: 12px;
    padding-left: 5px;
    color: #9a9a9a;
    font-style: italic;
}
.socail-post-text {
    color: black;
    margin: 15px 0;
    font-size: 15px;
}
.socail-post-text span {
    color: #626262 !important;
    font-weight: 600;
}
.socail-post-text a {
    color: #1876f2 !important;
    text-decoration: none;
}
.socail-post-text img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 7px;
}
.socail-post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socail-post-row .activity-icon {
    width: 80%;

}
.socail-post-row .activity-icon div{
    width: 40%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.socail-post-row .activity-icon div:hover{
    background-color: #ececec;
}
.socail-post-row .activity-icon .socail-icon{
    width: 18px;
    font-size: 20px;
    margin-right: 10px;
}
.comment {
    display: flex;
    align-items: center;
}
.loadmorecomment {
    margin-top: 10px;
    cursor: pointer;
}
.socail-post-container hr {
    width: 100%;
    margin: 0 auto;
}
.cus-border {
    border: 0.5px solid #d8d5d5;
}
.comment .parentcomment {
    align-items: center;
}
.comment .parentcomment p{
    margin: 10px;
    padding: 15px;
    background-color:#d6d6d6 ;
    border-radius: 20px;
}
.postpopup .postpopup-item{
    padding: 15px;
}
.postpopup .postpopup-item span{
    background-color: #FFF;
    cursor: pointer;
}
.postcomment {
    margin-top: 5px;
}
.postcomment textarea{
    margin-left: 10px;
    outline: 0;
    border: 0;
    background-color:#d6d6d6;
    padding: 10px;
    padding-top:5px;
    border-radius: 14px;
    resize: none;
    width: 100%;
}
.textarea-post {
    resize: none;
    border: 0;
    width: 100%;
    outline: 0;
}
.like-btn{
    color: #1876f2;
}
@media only screen and (max-width: 1675px){

    .main-box-dashboard {
        width: 700px !important;
    }

}
@media only screen and (max-width: 1375px){

}
@media only screen and (max-width: 1000px){

}